.logo {
  display: flex;
  align-items: center;
}

.page-header {
  margin: 0;
  margin-top: 40px;
  margin-left: 80px;
  width: 180px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-header {
    margin: 0;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 30px;
    height: 50px;
    max-width: 1120px;
  }
}
.page-header__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.page-header__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1968FC;
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .page-header__navigation-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 120px;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    margin-left: 20px;
    display: block;
    width: 180px;
    height: 50px;
    background: #1968FC;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .headline {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 160px;
    padding-right: 160px;
  }
}
.headline__title {
  margin-left: 80px;
  margin-top: 80px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  letter-spacing: 1px;
  color: #11223F;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    margin: 0;
    margin-top: 150px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    max-width: 600px;
  }
}
.headline__description {
  margin-left: 80px;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  display: flex;
  align-items: center;
  color: #11223F;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    margin: 0;
    margin-top: 20px;
    max-width: 600px;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
  }
}
.headline__upload-btn {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 80px;
  background: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  width: 300px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  border: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn {
    margin: 0;
    margin-top: 40px;
  }
}
.headline__image {
  display: block;
  margin: auto;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .headline__image {
    position: absolute;
    right: 160px;
    top: 200px;
  }
}

.reviews {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    margin-top: 160px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

.review:first-child {
  margin-left: 0px;
}

.review {
  margin: 0;
  margin-top: 50px;
  background-color: #fff;
  width: 540px;
  height: 280px;
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .review {
    margin: 0;
    margin-left: 40px;
  }
}
.review__upper {
  display: flex;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60px 46px;
}
.review__avatar {
  width: 100px;
  height: 100px;
}
.review__title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.review__job {
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.review__comment {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  margin: 0;
  margin-top: 40px;
  color: #11223F;
}

.visit {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .visit {
    display: none;
  }
}
.visit__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  margin: 60px 30px;
  align-items: center;
}

.workflow {
  margin-top: 120px;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Muli", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  }
}

h2.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  /* identical to box height, or 200% */
  color: #11223F;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

/*# sourceMappingURL=styles.css.map */
