.logo {
  display: flex;
  align-items: center;
}

.page-header {
  margin: 0;
  margin-top: 40px;
  margin-left: 80px;
  width: 180px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-header {
    margin: 0;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 30px;
    height: 50px;
    max-width: 1120px;
  }
}
.page-header__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.page-header__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1968FC;
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .page-header__navigation-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 120px;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    margin-left: 20px;
    display: block;
    width: 180px;
    height: 50px;
    background: #1968FC;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .headline {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 160px;
    padding-right: 160px;
  }
}
.headline__title {
  margin-left: 80px;
  margin-top: 80px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  letter-spacing: 1px;
  color: #11223F;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    margin: 0;
    margin-top: 150px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    max-width: 600px;
  }
}
.headline__description {
  margin-left: 80px;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  display: flex;
  align-items: center;
  color: #11223F;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    margin: 0;
    margin-top: 20px;
    max-width: 600px;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
  }
}
.headline__upload-btn {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 80px;
  background: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  width: 300px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  border: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn {
    margin: 0;
    margin-top: 40px;
  }
}
.headline__image {
  display: block;
  margin: auto;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .headline__image {
    position: absolute;
    right: 160px;
    top: 200px;
  }
}

.reviews {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    margin-top: 160px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

.review:first-child {
  margin-left: 0px;
}

.review {
  margin: 0;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  width: 540px;
  height: 280px;
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .review {
    margin: 0;
    margin-left: 40px;
  }
}
.review__upper {
  display: flex;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60px 46px;
}
.review__avatar {
  width: 100px;
  height: 100px;
}
.review__title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.review__job {
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.review__comment {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  margin: 0;
  margin-top: 40px;
  color: #11223F;
}

.visit {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .visit {
    display: none;
  }
}
.visit__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  margin: 60px 30px;
  align-items: center;
}

.workflow {
  margin-top: 120px;
  padding: 0 60px;
}
@media screen and (min-width: 1024px) {
  .workflow {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .workflow__content {
    display: flex;
  }
}
.workflow__title {
  margin-bottom: 48px !important;
}
@media screen and (min-width: 1024px) {
  .workflow__title {
    margin-bottom: 38px !important;
  }
}
@media screen and (min-width: 1024px) {
  .workflow-step:first-child {
    margin-left: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow-step:nth-child(2) {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow-step:nth-child(3) {
    margin-top: 80px;
  }
}
.workflow-step:last-child {
  margin-bottom: 0;
}
.workflow-step:last-child::after {
  display: none;
  content: "";
}
.workflow-step::after {
  display: block;
  border-left: 2px dashed #1968FC;
  width: 1px;
  height: 40px;
  content: "";
  position: absolute;
  bottom: -40px;
}
@media screen and (min-width: 1024px) {
  .workflow-step::after {
    width: 70px;
    height: 0px;
    border-top: 2px dashed #1968FC;
    position: absolute;
    content: "";
    top: 110px;
    right: -75px;
  }
}
.workflow-step {
  position: relative;
  padding: 40px;
  margin-bottom: 40px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .workflow-step {
    width: 320px;
    height: 220px;
    margin-right: 80px;
  }
}
.workflow-step__content {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 40px 36px;
}
.workflow-step__num {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #11223F;
}
.workflow-step__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #1967FA;
}
.workflow-step__description {
  color: #11223F;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}
.workflow-step__decor {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.bi1 {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconDownload.png");
}

.bi2 {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconUpload.png");
}

.bi3 {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconUseCode.png");
}

.features {
  padding: 0 60px;
  margin-top: 125px;
}
@media screen and (min-width: 1024px) {
  .features {
    margin-top: 120px;
    padding: 0;
  }
}
.features__list {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .features__list {
    padding: 0 160px;
    display: flex;
  }
}

.feature:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  .feature:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .feature:nth-child(2) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .feature:nth-child(3) {
    margin-top: 80px;
  }
}

.feature {
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .feature {
    margin: 0;
    margin-right: 80px;
    width: 320px;
  }
}
.feature-upper {
  display: flex;
  background: #F3F7FF;
}
.feature-image {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .feature-image {
    width: 120px;
    height: 120px;
  }
}
.feature-title {
  margin: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  .feature-title {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
  }
}
.feature-lower {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  padding: 30px 40px;
}
@media screen and (min-width: 1024px) {
  .feature-lower {
    padding: 40px;
  }
}
.feature-lower__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.feature-lower__decor {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.users {
  margin-top: 125px;
}
@media screen and (min-width: 1024px) {
  .users {
    margin-top: 120px;
  }
}
.users__title {
  margin: 0 60px !important;
}
@media screen and (min-width: 1024px) {
  .users__title {
    margin: 0 160px !important;
  }
}
.users__container {
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 28px;
}
@media screen and (min-width: 1024px) {
  .users__container {
    padding: 0 160px;
    margin-top: 38px;
  }
}

@media screen and (min-width: 1024px) {
  .user:nth-child(3),
.user:nth-child(6) {
    margin-right: 0;
  }
}

.user {
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  width: 250px;
  height: 190px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .user {
    width: 360px;
    height: 160px;
  }
}
.user__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #1967FA;
}
.user__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #11223F;
}

.purposes {
  margin-top: 120px;
  padding: 0 60px;
}
@media screen and (min-width: 1024px) {
  .purposes {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .purposes__title {
    margin: 0 160px;
  }
}
@media screen and (min-width: 1024px) {
  .purposes__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
    padding: 0 160px;
  }
}

@media screen and (min-width: 1024px) {
  .purpose:nth-child(2),
.purpose:nth-child(4) {
    margin-right: 0;
  }
}

.purpose {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .purpose {
    width: 540px;
    height: 80px;
    margin-right: 40px;
  }
}
.purpose__image {
  width: 80px;
  height: 80px;
}
.purpose__title {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}

.consultation {
  margin-top: 60px;
  background: #1968FC;
}
@media screen and (min-width: 1024px) {
  .consultation {
    margin-top: 120px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationWhiteglove.png);
    background-position: right top 20px;
    background-repeat: no-repeat;
  }
}
.consultation__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 60px 60px 0 60px;
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    margin: 80px 159px 0 160px;
  }
}
.consultation__title:after {
  background: #FFFFFF;
  box-shadow: 0px 2px 0px #6A9EFF;
  content: "";
  height: 2px;
  width: 80px;
  margin-top: 10px;
  display: block;
}
@media screen and (min-width: 1024px) {
  .consultation__title:after {
    margin-left: -40px;
  }
}
.consultation__description {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
  margin: 38px 60px 0px;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    margin: 48px 0 0 160px;
    width: 640px;
    height: 80px;
  }
}
.consultation__button {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
  border: none;
  margin: 40px 0 60px 60px;
  width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .consultation__button {
    margin: 40px 0 80px 160px;
  }
}

.stories {
  padding-top: 60px;
  background: #F2F2F2;
}
@media screen and (min-width: 1024px) {
  .stories {
    padding-top: 0;
  }
}
.stories__title {
  margin: 0 60px !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  color: #111111;
}
@media screen and (min-width: 1024px) {
  .stories__title {
    margin: 120px 160px 0 160px !important;
  }
}

.story-cards {
  margin-top: 38px;
  padding: 0 60px;
}
@media screen and (min-width: 1024px) {
  .story-cards {
    display: flex;
    padding: 0 170px 0 160px;
  }
}

@media screen and (min-width: 1024px) {
  .story-card:last-child {
    margin-left: 150px;
  }
}

.story-card {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .story-card {
    width: 480px;
    height: 300px;
    margin-bottom: 0;
  }
}
.story-card__upper {
  display: flex;
}
.story-card__image {
  width: 40px;
  height: 33px;
}
.story-card__title {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  color: #111111;
}
.story-card__description {
  margin: 20px 0px 0px 60px;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #000000;
}
.story-card__description a {
  color: #000000;
}

.page-footer {
  background: #F2F2F2;
}

.footer-container {
  display: flex;
  position: relative;
  background: #FBFBFB;
  height: 130px;
  padding: 40px;
  align-items: center;
  margin-bottom: 90px;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    padding: 40px 160px;
    margin-bottom: 0;
  }
}

.footer-logo {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  background: rgba(25, 104, 252, 0.05);
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .footer-logo {
    margin-right: 0;
  }
}
.footer-logo__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #1968FC;
  margin: auto;
}

.footer-icon {
  width: 50px;
  height: 50px;
  margin-right: 3px;
  padding: 15px;
  background: rgba(216, 216, 216, 0.0001);
}

.facebook {
  padding: 15px 20px;
}

.footer-illustration {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 40px;
  box-shadow: 2px 6px 12px rgba(255, 131, 51, 0.3);
}
@media screen and (min-width: 1024px) {
  .footer-illustration {
    right: 160px;
    width: 100px;
    height: 100px;
  }
}

.footer-nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer-nav {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 50px;
  }
}
.footer-nav__item {
  width: 120px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Muli", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  }
}

h2.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  /* identical to box height, or 200% */
  color: #11223F;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  h2.title {
    margin-left: 160px;
  }
}

h2.title:after {
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  content: "";
  height: 2px;
  width: 80px;
  margin-top: 10px;
  display: block;
}
@media screen and (min-width: 1024px) {
  h2.title:after {
    margin-left: -40px;
  }
}

/*# sourceMappingURL=styles.css.map */
