.consultation {
    margin-top: 60px;
    background: #1968FC;
    @include for-sm-up {
        margin-top: 120px;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationWhiteglove.png);
        background-position: right top 20px;
        background-repeat: no-repeat;
    }
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        line-height: 60px;
        color: #FFFFFF;
        margin: 60px 60px 0 60px;
        @include for-sm-up {
            margin: 80px 159px 0 160px;
            height: 61px;
            width: 650px;
        }
    }
    &__title:after {
        background: #FFFFFF;
        box-shadow: 0px 2px 0px #6A9EFF;
        content: "";
        height: 2px;
        width: 80px;
        margin-top: 10px;
        display: block;
    }
    &__description {
        color: #FFFFFF;
        font-size: 20px;
        line-height: 40px;
        margin: 38px 60px 0px;
        @include for-sm-up {
            margin: 48px 0 0 160px;
            width: 640px;
            height: 80px;
        }
    }
    &__button {
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
        border: none;
        margin: 40px 0 60px 60px;
        width: 320px;
        height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #1968FC;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        @include for-sm-up {
            margin: 40px 0 80px 160px;
        }
    }
}