.features {
    padding: 0 60px;
    margin-top: 125px;
    @include for-sm-up {
        margin-top: 120px;
        margin: 120px 160px 0 160px;
        padding: 0;
    }
    &__list {
        margin-top: 48px;
        @include for-sm-up {
            display: flex;
        }
    }
}

.feature:last-child {
    margin-bottom: 0px;
    @include for-sm-up {
        margin-right: 0px;
    }
}

.feature:nth-child(2) {
    @include for-sm-up {
        margin-top: 40px;
    }
}

.feature:nth-child(3) {
    @include for-sm-up {
        margin-top: 80px;
    }
}

.feature {
    margin-bottom: 60px;
    @include for-sm-up {
        margin: 0;
        margin-right: 80px;
        width: 320px;
        height: 290px;
    }
    &-upper {
        display: flex;
        background: #fff;
    }
    &-image {
        width: 80px;
        height: 80px;
        @include for-sm-up {
            min-width: 120px;
            min-height: 120px;
        }
    }
    &-title {
        margin: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
        @include for-sm-up {
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
        }
    }
    &-lower {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
        padding: 30px 40px;
        @include for-sm-up {
            padding: 40px;
        }
        &__text {
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
        }
        &__decor {
            position: absolute;
            bottom: 0px;
            right: -5px;
        }
    }
}