.headline {
    @include for-sm-up {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-left: 160px;
        padding-right: 160px;
    }
    &__title {
        @include for-sm-up {
            margin: 0;
            margin-top: 150px;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            max-width: 600px;
        }
        margin-left: 80px;
        margin-top: 80px;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        /* or 150% */
        letter-spacing: 1px;
        color: #11223F;
    }
    &__description {
        @include for-sm-up {
            margin: 0;
            margin-top: 20px;
            max-width: 600px;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
        }
        margin-left: 80px;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        /* or 200% */
        display: flex;
        align-items: center;
        color: #11223F;
        margin-top: 20px;
    }
    &__upload-btn {
        margin: 0;
        margin-top: 40px;
        margin-bottom: 80px;
        margin-left: 80px;
        background: #1968FC;
        box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
        width: 300px;
        height: 50px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
        border: none;
        @include for-sm-up {
            margin: 0;
            margin-top: 40px;
        }
    }
    &__image {
        display: block;
        margin: auto;
        max-width: 100%;
        @include for-sm-up {
            position: absolute;
            right: 160px;
            top: 200px;
        }
    }
}