@import './breakpoints.scss';
@import './page-header.scss';
@import './headline.scss';
@import './reviews.scss';
@import './visit';
@import './workflow';
* {
    box-sizing: border-box;
}

html {
    font-family: 'Muli', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    margin: auto;
    // width: 80vw;
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
    @include for-sm-up {
        width: 1440px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png');
    }
}

h2.title{
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    /* identical to box height, or 200% */
    color: #11223F;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0;margin: 0;
    padding-left: 60px;
    padding-right: 60px; 
}