.logo {
    display: flex;
    align-items: center;
}

.page-header {
    margin: 0;
    margin-top: 40px;
    margin-left: 80px;
    width: 180px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    @include for-sm-up {
        margin: 0;
        margin-left: 160px;
        margin-right: 160px;
        margin-top: 30px;
        height: 50px;
        max-width: 1120px;
    }
    &__logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #1968FC;
    }
    &__navigation {
        display: none;
        @include for-sm-up {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 220px;
        }
        &-item {
            @include for-sm-up {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                width: 120px;
            }
        }
    }
    &__upload-btn {
        display: none;
        @include for-sm-up {
            margin-left: 20px;
            display: block;
            width: 180px;
            height: 50px;
            background: #1968FC;
            box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
            border: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            /* or 143% */
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
            padding: 0;
        }
    }
}