.reviews{
    @include for-sm-up{
        display: flex;
        margin-top: 160px;
        padding-left: 160px;
        padding-right: 160px;
    }
    padding-left: 50px;padding-right: 50px;

}
.review:first-child{
    margin-left: 0px;
}
.review{
    margin: 0;
    margin-top: 50px;
    background-color: #fff;
    width: 540px;
    height: 280px;
    padding: 40px;
    @include for-sm-up{
        margin: 0;
        margin-left: 40px;
    }

    &__upper{
        display: flex;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 60px 46px;
    }
    
    &__avatar{
        width: 100px;
        height: 100px;
    }
    &__title{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name{
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;      
    }
    &__job{
        color: #1967FA;

        mix-blend-mode: normal;
        opacity: 0.8;     
    }
    &__comment{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        margin: 0;
        margin-top: 40px;
        
        color: #11223F;      
    }
}