.visit{
    @include for-sm-up{
        display: none;
    }
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    &__text{
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        /* or 200% */
        text-align: center;
        text-transform: uppercase;      
        color: #fff;
        display: flex;
        margin: 60px 30px;
    align-items: center;
    }
}
